## Day Objectives
- Comprehension
- Iterators and Generatos
- Functional programming

- Comprehension
    - It is a process of creating new sequence from existing sequence
- Advantages
    - Less code
    - Less memory
    - User understandable
- Types of Comprehensions
    - list comprehension
    - dictionary comprehension
    - set comprehension
    - generator comprehension

## List comprehension

In [1]:
li = [2,4,5,6,7]
li1 = []
for i in li:
    if i%2==0:
        li1.append(i)
li1

[2, 4, 6]

In [2]:
li = [2,4,5,6,7]
l = [i for i in li if i%2==0 ]
print(l)

[2, 4, 6]

In [3]:
a = [i**2 for i in range(1,6)]
a

[1, 4, 9, 16, 25]

In [4]:
a

[1, 4, 9, 16, 25]

In [8]:
b = [i if i%2==0 else 'odd' for i in a]
b

['odd', 4, 'odd', 16, 'odd']

In [9]:
a = ['Stay home','Stay safe']
li = []
for i in a:
    for j in i.split():
        li.append(j)
li

['Stay', 'home', 'Stay', 'safe']

In [10]:
x = [j for i in a for j in i.split()]
x

['Stay', 'home', 'Stay', 'safe']

In [11]:
a = [[i*j for i in range(1,11)] for j in range(1,11)]
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### Dictionary comprehension

In [12]:
d = {i:i**3 for i in range(1,6) }
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [13]:
id_nos = ['N130663','N130664','N130665']
names = ['ramu','ravi','raju']
c = {}
for (key,value) in zip(id_nos,names):
    c[key] = value
c

{'N130663': 'ramu', 'N130664': 'ravi', 'N130665': 'raju'}

## Set comprehension

In [14]:
s = {i**3 for i in range(1,11)}
s

{1, 8, 27, 64, 125, 216, 343, 512, 729, 1000}

## Generator comprehension

In [15]:
li = [1,3,4,5]
c = (i**3 for i in li)
print(c)
for i in c:
    print(i)

<generator object <genexpr> at 0x000002403999FF90>
1
27
64
125

## Iterators and Generators

### Iterator
- it will contain number elements and we can access element as per requirement.
- iter and next

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
n = 'python'
for i in n:
    print(i)

p
y
t
h
o
n

In [23]:
n = 'python'
i = iter(n)
next(i)

'p'

In [19]:
next(i)

'y'

In [20]:
next(i)

't'

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
next(i)

'h'

In [27]:
for j in range(5):
    print(j)

0
1
2
3
4

In [28]:
next(i)

'o'

In [29]:
next(i)+'h'

'nh'

In [30]:
li = [1,2,3,4]
for i in li:
    print(i)

1
2
3
4

In [31]:
li = [1,2,3,4]
s = iter(li)
next(s)

1

In [32]:
next(s)+3

5

In [33]:
next(s)*5

15

## Generators
- Generator also a function but in place of return statements we are using yield.
- Generators will be used in combination of iterator

In [35]:
def gen():
    return 4
    return 6

gen()

4

In [37]:
def genrator():
    yield 4
    yield 5
    yield 7
    yield 8

for i in genrator():
    print(i,end=' ')

4 5 7 8

## Functional programming
- lambda
- map
- filter
- reduce

- Lambda
    - we are not using 'def' keyword
    - single line functions
    - Anonymous functions
    
- Syntax: lambda arguemnts:expression

- we can provide n number of arguments but only single expression

In [38]:
def add(a,b):
    return a+b

add(5,6)

11

In [39]:
add = lambda a,b:a+b
add(7,45)

52

- map
- Syntax: map(function,iterables)

In [42]:
def mul(a):
    return a*a

x = map(mul,[2,3,4])
list(x)

[4, 9, 16]

In [43]:
d = ['nandini','ambika','vanitha']
li = list(map(str.upper,d))
li

['NANDINI', 'AMBIKA', 'VANITHA']

In [44]:
n = 'nandini'
type(n)

str

### map() with lambda()

In [46]:
a = map(lambda x:x**3,[3,5,6] )
list(a)

[27, 125, 216]

### filter()
- returns the iterator where the items are filtred
- Syntax: filter(function,iterable)

In [47]:
num = [10,20,12,55,123,100,45,67]

def greater(x):
    if x>=55:
        return True
    return False

ans = filter(greater,num)
for i in ans:
    print(i)

55
123
100
67

#### filter() with lambda()

In [48]:
num = [10,20,12,55,123,100,45,67]
r = filter(lambda x:x>=55,num)

In [51]:
print(list(r))

[55, 123, 100, 67]

#### reduce()
- it returns single value as output
- Syntax: reduce(function,sequence)

In [53]:
import functools
a = functools.reduce(lambda x,y:x*y,[10,20,30,40])
a

240000

In [ ]:
10 20 30 40 

x =10
y =20

x+y = 30

x = 30
y = 30

x+y = 60

x = 60
y = 40

x+y = 100