## Conti... NumPy

In [1]:
import numpy as np

In [3]:
## returns  equally spaced numbers within range

a = np.linspace(1,10,4)
a

array([ 1.,  4.,  7., 10.])

## random()

In [14]:
r = np.random.randint(10)
print(r)
r1 = np.random.randint(5,10)
print(r1)
r2 = np.random.randint(1,10,3)
print(r2)
r3 = np.random.randint(10,100,(2,4))
print(r3)
r4 = np.random.randint(10,50,12).reshape(3,4)
print(r4)

8
8
[5 6 2]
[[86 23 60 28]
 [81 13 39 84]]
[[42 33 46 27]
 [18 11 31 43]
 [39 25 49 30]]

In [16]:
n = np.random.random(3)
n

array([0.28863101, 0.68402128, 0.7135528 ])

In [17]:
n1 = np.random.randn(4)

In [18]:
n1

array([-1.46765591,  0.17785175, -0.00733861, -0.6729829 ])

In [19]:
## Slicing

r = np.random.randint(10,100,(4,4))
r

array([[98, 17, 99, 72],
       [10, 96, 91, 21],
       [20, 42, 66, 79],
       [98, 99, 92, 64]])

In [20]:
r[0]

array([98, 17, 99, 72])

In [21]:
r[0:2]

array([[98, 17, 99, 72],
       [10, 96, 91, 21]])

In [22]:
r[2:]

array([[20, 42, 66, 79],
       [98, 99, 92, 64]])

In [23]:
r

array([[98, 17, 99, 72],
       [10, 96, 91, 21],
       [20, 42, 66, 79],
       [98, 99, 92, 64]])

In [24]:
r[0:2,0:2]

array([[98, 17],
       [10, 96]])

In [25]:
r[:]

array([[98, 17, 99, 72],
       [10, 96, 91, 21],
       [20, 42, 66, 79],
       [98, 99, 92, 64]])

In [26]:
r[:4]

array([[98, 17, 99, 72],
       [10, 96, 91, 21],
       [20, 42, 66, 79],
       [98, 99, 92, 64]])

In [27]:
a = np.matrix('1,2;5,7')
a

matrix([[1, 2],
        [5, 7]])

In [28]:
b = np.matrix('7,8;9,2')
b

matrix([[7, 8],
        [9, 2]])

In [29]:
print(np.add(a,b))

[[ 8 10]
 [14  9]]

In [30]:
a1 = np.array([[1,2],[6,7]])
a2 = np.array([[6,3],[8,3]])

In [31]:
a1+a2

array([[ 7,  5],
       [14, 10]])

In [32]:
np.subtract(a,b)

matrix([[-6, -6],
        [-4,  5]])

In [33]:
np.matmul(a,b)

matrix([[25, 12],
        [98, 54]])

In [34]:
np.multiply(a,b)

matrix([[ 7, 16],
        [45, 14]])

In [35]:
a

matrix([[1, 2],
        [5, 7]])

In [36]:
a+4

matrix([[ 5,  6],
        [ 9, 11]])

In [37]:
a*5

matrix([[ 5, 10],
        [25, 35]])

In [38]:
a-2

matrix([[-1,  0],
        [ 3,  5]])

In [39]:
a

matrix([[1, 2],
        [5, 7]])

In [41]:
a>3

matrix([[False, False],
        [ True,  True]])

In [43]:
a[a>3].sum()

12

### Scientific computation

In [44]:
m = np.arange(16).reshape(8,2)
m

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [45]:
print(np.mean(m))

7.5

In [46]:
print(np.std(m))

4.6097722286464435

In [47]:
print(np.median(m))

7.5

In [48]:
print(np.dot(a,b))

[[25 12]
 [98 54]]

In [49]:
np.log(0)

<ipython-input-49-f6e7c0610b57>:1: RuntimeWarning: divide by zero encountered in log
  np.log(0)

-inf

In [50]:
np.log(1)

0.0

In [51]:
np.log([1,6,4,3])

array([0.        , 1.79175947, 1.38629436, 1.09861229])

In [52]:
np.exp(1)

2.718281828459045

In [53]:
np.exp(6)

403.4287934927351

In [54]:
np.exp([4,7,6])

array([  54.59815003, 1096.63315843,  403.42879349])

In [55]:
print(dir(np),end=' ')

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__dir__', '__doc__', '__file__', '__getattr__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [56]:
np.sin(0)

0.0

In [57]:
np.cos(0)

1.0

In [58]:
np.tan(0)

0.0

## Pandas

- Means PanelData
- one of the data science package
- Used for data manipulation, analysis and cleaning
- It contains two data structures
    - 1. Series
    - 2. DataFrames
- Sequence of data
- A data frame is data with rows and columns

In [ ]:
## installation
-- pip install pandas

In [60]:
import pandas as pd

In [61]:
pd.__version__

'1.0.5'

In [62]:
st = 'hello'
pd.Series(st)

0    hello
dtype: object

In [63]:
s1 = 'Good evening all'.split()
pd.Series(s1)

0       Good
1    evening
2        all
dtype: object

In [66]:
l = [123,'hi',5.4]
pd.Series(l, index = ['int','str','float'])

int      123
str       hi
float    5.4
dtype: object

In [67]:
t = ('a','e','i','o','u')
pd.Series(t, index = ['v1','v2','v3','v4','v5'])

v1    a
v2    e
v3    i
v4    o
v5    u
dtype: object

In [68]:
dic = {'k1':145,'k2':'daf','k3':8.5}
pd.Series(dic)

k1    145
k2    daf
k3    8.5
dtype: object

In [69]:
s = 'hello all welcome to python session'.split()
pd.DataFrame(s)

         0
0    hello
1      all
2  welcome
3       to
4   python
5  session

In [70]:
l = [1,'dafa',56,34,9.4]
pd.DataFrame(l)

      0
0     1
1  dafa
2    56
3    34
4   9.4

In [71]:
t = (1,4,5,'asdf')
pd.DataFrame(t, index = [1,2,3,4])

      0
1     1
2     4
3     5
4  asdf

In [72]:
dic = {'k1':145,'k2':'daf','k3':8.5}
pd.DataFrame(dic, index = (1,2,3))

    k1   k2   k3
1  145  daf  8.5
2  145  daf  8.5
3  145  daf  8.5